.App {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.App-header {
  position: relative;
  background-image: url(./img/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Head-name {
  font-size: 320px;
  animation: Head-name-muvement 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Earth {
  position: absolute;
  bottom: -75%;
  height: 100%;
  pointer-events: none;
  border-radius: 50%;
  animation: Earth-spin infinite 50s linear;
}

.Astronaut-block {
  height: 320px;
  z-index: 3;
  position: absolute;
  left: 60vw;
  animation: Astronaut-muvement infinite 4s linear;
}

.Astronaut {
  height: 320px;
  animation: Astronaut-scale 1 3s linear;
}

@keyframes Earth-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes Head-name-muvement {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes Astronaut-scale {
  0% {
    transform: scale(0) translateX(-100%);
  }
  10% {
    transform: scale(0.05);
  }
  20% {
    transform: scale(0.1);
  }
  30% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.45);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}

@keyframes Astronaut-muvement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
